.theme {
	&-common() {	
		--color-state-hover: var(--delta-lightness-hover-state);
		--color-state-active: var(--delta-lightness-active-state);
		--color-state-visited: var(--delta-lightness-visited-state);
		@ebsa-color-neutral-dark: 0 0 0;
		@ebsa-color-neutral-light: 1 0 0;  
		--delta-lightness-hover-state: calc( var( --delta-lightness-state-base ) * 1 );
		--delta-lightness-active-state: calc( var( --delta-lightness-state-base ) * -1 );
  --delta-lightness-visited-state: calc( var( --delta-lightness-state-base ) * -2 );
  --delta-lightness-state-base: 4%; 
	
	--delta-lightness-surface-base-light: calc( var( --delta-lightness-surface-base-light ) * -1 );
	--delta-lightness-surface-base-dark: calc( var( --delta-lightness-surface-base-light ) * -1 );

	// Progressive color
	--color-progressive-oklch__l: 53.25%;
	--color-progressive-oklch__c: 0.1679;
	--color-progressive-oklch__h: 262.29;

	// Surface color
	--color-surface-0-light-oklch__l: 96%;
	--color-surface-0-light-oklch__c: 0.01;
	--color-surface-0-light-oklch__h: 262.29;
		
	--color-surface-0-dark-oklch__l: 4%;
	--color-surface-0-dark-oklch__c: 0.01;
	--color-surface-0-dark-oklch__h: 262.29;

	/* Replace variables with Tailwind-style token system */
	--color-emphasized: ~'var(--@{color-foreground}-@{color-emphasized-strength})';
	--color-base: ~'var(--@{color-foreground}-@{color-base-strength})';
	--color-subtle: ~'var(--@{color-foreground}-@{color-subtle-strength})';
	--color-placeholder: ~'var(--@{color-foreground}-@{color-placeholder-strength})';
	--color-disabled: ~'var(--@{color-foreground}-@{color-disabled-strength})';
	
&-night() {
	--delta-lightness-surface-base: var( --delta-lightness-surface-base-dark );
	--ebsa-color-surface-0: ~"oklch( var( --color-surface-0-dark-oklch__l ) var( --color-surface-0-dark-oklch__c ) var( --color-surface-0-dark-oklch__h ) )";
	
	@color-foreground: ~'tailwind-neutral';
	@color-base-strength: 200;
	@color-emphasized-strength: 50;	   
	@color-subtle-strength: 400;
	@color-placeholder-strength: 500;
	@color-disabled-strength: 600;
	
	--color-destructive: oklch(0.635 0.254 15.458);
	--color-warning: oklch(0.683 0.129 175.062);
	--color-success: oklch(0.886 0.17 93.726);
	
    --ebsa-color-neutral-base: @{ebsa-color-neutral-light};
    --ebsa-color-neutral-base-inverted: @{ebsa-color-neutral-dark};
    --ebsa-color-neutral: ~"oklch( @{ebsa-color-neutral-base} / 1.0 )";
    --ebsa-color-neutral-inverted: ~"oklch( @{ebsa-color-neutral-base-inverted} / 1.0 )";
  }

&-day() {
	--delta-lightness-surface-base: var( --delta-lightness-surface-base-light );
	--ebsa-color-surface-0: ~"oklch( var( --color-surface-0-light-oklch__l ) var( --color-surface-0-light-oklch__c ) var( --color-surface-0-light-oklch__h ) )";
	@color-foreground: ~'tailwind-neutral';
	@color-base-strength: 900;
	@color-emphasized-strength: 600;	   
	@color-subtle-strength: 500;
	@color-placeholder-strength: 400;
	@color-disabled-strength: 400
    --color-destructive: oklch(0.537 0.215 14.845);
    --color-warning: oklch(0.732 0.15 90.688);
    --color-success: oklch(0.407 0.076 176.321);
    @ebsa-color-neutral-base: @{ebsa-color-neutral-dark};
    @ebsa-color-neutral-base-inverted: @{ebsa-color-neutral-light};
    --ebsa-color-neutral: ~"oklch( var( @{ebsa-color-neutral-base} ) / 1.0 )";
    --ebsa-color-neutral-inverted: ~"oklch( @{ebsa-color-neutral-base-inverted} / 1.0 )";
  }

  /* Convert hover & active states to relative colors */
  --color-base--hover: ~"oklch( from var( --color-base ) calc( l + var( --color-state-hover ) ) c h )";
  --color-progressive--hover: ~"oklch( from var( --color-progressive ) calc( l + var( --color-state-hover ) ) c h )";
  --color-progressive--active: ~"oklch( from var( --color-progressive ) calc( l + var( --color-state-active ) ) c h )";
  --color-destructive--hover: ~'oklch( from var( --color-destructive ) calc( l + var( --color-state-hover ) ) c h';
  --color-destructive--active: ~'oklch( from var( --color-destructive ) calc( l + var( --color-state-active ) ) c h';
  --background-color-destructive-subtle: ~'color-mix( in oklch, var( --color-destructive ) var( --background-subtle-color-primary ), var( --ebsa-color-neutral ) )';
  --background-color-progressive-subtle: ~'color-mix( in oklch, var( --color-progressive ) 6%, var( --ebsa-color-neutral ) )';
  --background-color-warning-subtle: ~'color-mix( in oklch, var( --color-warning ) 6%, var( --ebsa-color-neutral ) )';
  --background-color-success-subtle: ~'color-mix( in oklch, var( --color-success ) 6%, var( --ebsa-color-neutral ) )';

  /* Icon opacity */
  --opacity-icon-base: 1;
  --opacity-icon-base--hover: 0.75;
  --opacity-icon-base--selected: 1;
  --opacity-icon-base--disabled: 0.5;
  --opacity-icon-placeholder: 0.5;
  --opacity-icon-subtle: 0.675;

  /* Add H for --color-base */
  --color-base: ~"oklch( var( --color-base-oklch__l ) var( --color-base-oklch__c ) var( --color-base-oklch__h ) )";
  --color-emphasized: ~"oklch( var( --color-emphasized-oklch__l ) var( --color-emphasized-oklch__c ) var( --color-base-oklch__h ) )";
  --color-subtle: ~"oklch( var( --color-subtle-oklch__l ) var( --color-subtle-oklch__c ) var( --color-base-oklch__h ) )";
  --color-placeholder: ~"oklch( var( --color-placeholder-oklch__l ) var( --color-placeholder-oklch__c ) var( --color-base-oklch__h ) )";
  --color-disabled: ~"oklch( var( --color-disabled-oklch__l ) var( --color-disabled-oklch__c ) var( --color-base-oklch__h ) )";

  /* Semantic token changes */
  --box-shadow-color-progressive--focus: var(--color-progressive--focus);
  --box-shadow-color-destructive--focus: var(--color-progressive--focus);
  --background-color-progressive--focus: var(--color-progressive--focus);

  --border-color-table: ~"color-mix(in oklch, var( --border-color-table-primary, var ( --color-surface-0 ) ) var( --border-color-table-primary-length ), oklch( var( --border-color-table-secondary, var( --border-color-table-secondary-length ) )";
  --border-color-table-primary-length: 65%%;
  --border-color-table-secondary-length: 35%;
	
  --background-color-backdrop-dark: ~'oklch( var( --color-surface-0-dark-oklch__l ) var( --color-surface-0-dark-oklch__c ) var( --color-surface-0-dark-oklch__h ) / var( --backdrop-opacity ) )";
  --background-color-backdrop-light: ~'oklch( var( --color-surface-0-light-oklch__l ) var( --color-surface-0-light-oklch__c ) var( --color-surface-0-light-oklch__h ) / var( --backdrop-opacity ) )";
		
  /* Tokens disabled by Citizen, reenabled experimentally */
  --border-color-interactive--hover: var(--border-color-progressive--hover);
  --border-color-interactive--active: var(--border-color-progressive--active);
  --border-color-error--active: var(--color-error--active);
}
