@import (reference) "https://ebisugaoka.com/assets/styles/codex-icon-tokens.less";

.mw-ui-icon-wikimedia-configure::before {
	-webkit-mask-image: url(@cdx-ui-icon-configure);
	mask-image: url(@cdx-ui-icon-configure);
}

.mw-ui-icon-wikimedia-arrowUp::before {
	-webkit-mask-image: url(@cdx-ui-icon-arrow-up);
	mask-image: url(@cdx-ui-icon-arrow-up);
}
