.mw-ui-icon-wikimedia {
  &-configure::before {
    -webkit-mask-image: url("https://ebisugaoka.com/resources/lib/codex-icons/images/configure.svg");
    mask-image: url("https://ebisugaoka.com/resources/lib/codex-icons/images/configure.svg");
  }

  &-arrowUp::before {
    -webkit-mask-image: url("https://ebisugaoka.com/resources/lib/codex-icons/images/arrowUp.svg");
    mask-image: url("https://ebisugaoka.com/resources/lib/codex-icons/images/arrowUp.svg");
  }
}
