:root {
	--border-color-table: ~'color-mix(in oklch var( --color-surface-0 ) var( --border-color-table-primary ), oklch( var( --color-neutral-base ) ) var( --border-color-table-secondary ) )';
	--border-divider: var( --border-width-base ) var( --border-style-base ) var( --border-color-divider );
	--border-color-table-primary: 65%;
	--border-color-table-secondary: 35%;
}

:root.skin-theme-clientpref-night, 
:root.prefers-color-scheme-dark.skin-theme-clientpref-os {
	--color-neutral-base: 1 0 0;
}

:root.skin-theme-clientpref-day, 
:root.prefers-color-scheme-light.skin-theme-clientpref-os {
	--color-neutral-base: 0 0 0;
}
