/* Fixed / inverted */
	--color-base-fixed: #202122;
	--background-color-base-fixed: ~'oklch( 96% 0.01 var( --color-progressive-oklch__h ) )';
	--background-color-inverted: #101418;
	--border-color-inverted: #fff;
	--box-shadow-color-inverted: #fff;
	--color-inverted: #fff;
	--color-inverted-fixed: #fff;

/* Tokens that use RGBA */
	--border-color-base: ~'rgb( 0 0 0 / 0.1 )';
	--border-color-subtle: ~'rgb( 0 0 0 / 0.05 )';
	--border-color-muted: ~'rgb( 0 0 0 / 0.03 )';
	--border-color-interactive: ~'rgb( 0 0 0 / 0.1 )';
	--background-color-tab-list-item-framed--hover: rgba( 255, 255, 255, 0.3 );
	--background-color-tab-list-item-framed--active: rgba( 255, 255, 255, 0.65 );
	--background-color-backdrop-dark: ~'rgba( 0, 0, 0, var( --backdrop-opacity ) )';
	--background-color-button-quiet--hover: rgba( 0, 24, 73, 0.027 );
	--background-color-button-quiet--active: rgba( 0, 24, 73, 0.082 );



/* HSL */




/* Icon color tokens */
	//--color-icon-error: #f54739;
	//--color-icon-warning: #ab7f2a;
	//--color-icon-success: #099979;
	//--color-icon-notice: #72777d;





