/* Fixed / inverted */
	--color-base-fixed: #202122;
	--background-color-base-fixed: ~'oklch( 96% 0.01 var( --color-progressive-oklch__h ) )';
	--background-color-inverted: #101418;
	--border-color-inverted: #fff;
	--box-shadow-color-inverted: #fff;
	--color-inverted: #fff;
	--color-inverted-fixed: #fff;

/* Tokens that use RGBA */
	--border-color-base: ~'rgb( 0 0 0 / 0.1 )';
	--border-color-subtle: ~'rgb( 0 0 0 / 0.05 )';
	--border-color-muted: ~'rgb( 0 0 0 / 0.03 )';
	--border-color-interactive: ~'rgb( 0 0 0 / 0.1 )';
	--background-color-tab-list-item-framed--hover: rgba( 255, 255, 255, 0.3 );
	--background-color-tab-list-item-framed--active: rgba( 255, 255, 255, 0.65 );
	--background-color-backdrop-dark: ~'rgba( 0, 0, 0, var( --backdrop-opacity ) )';
	--background-color-button-quiet--hover: rgba( 0, 24, 73, 0.027 );
	--background-color-button-quiet--active: rgba( 0, 24, 73, 0.082 );


	--color-error: var( --color-destructive );
	--color-warning: ~'hsl( var( --color-warning__h ), 100%, var( --color-warning__l ) )';
	--color-success: ~'hsl( var( --color-success__h ), 100%, var( --color-success__l ) )';
	--color-notice: var( --color-base );

/* HSL */

	--color-destructive: ~'hsl( var( --color-destructive__h ), 100%, var( --color-destructive__l ) )';
	--color-destructive--hover: ~'hsl( var( --color-destructive__h ), 100%, calc( var( --color-destructive__l ) + var( --delta-lightness-hover-state ) ) )';
	--color-destructive--active: ~'hsl( var( --color-destructive__h ), 100%, calc( var( --color-destructive__l ) + var( --delta-lightness-active-state ) ) )';
	--background-color-destructive-subtle: ~'hsl( var( --color-destructive__h ), var( --background-color-subtle__s ), var( --background-color-subtle__l ) )';
	--background-color-progressive-subtle: ~'hsl( var( --color-progressive-hsl__h ), var( --color-progressive-hsl__s ), var( --background-color-subtle__l ) )';
	--background-color-warning-subtle: ~'hsl( var( --color-warning__h ), var( --background-color-subtle__s ), var( --background-color-subtle__l ) )';
	--background-color-success-subtle: ~'hsl( var( --color-success__h ), var( --background-color-subtle__s ), var( --background-color-subtle__l ) )';


/* Icon color tokens */
	//--color-icon-error: #f54739;
	//--color-icon-warning: #ab7f2a;
	//--color-icon-success: #099979;
	//--color-icon-notice: #72777d;





