/*
 * Citizen - SRF Flot Core
 * https://starcitizen.tools
*/

@import '../../../../resources/variables.less';

.skin-theme-clientpref-night {
	.srf-flot-chart-title {
		color: var( --color-subtle );
	}

	.srf-flot-note {
		color: var( --color-destructive );
	}

	.srf-flot-chart-text {
		color: var( --color-subtle );
	}

	.srf-flot-tooltip {
		color: var( --color-base );
		background-color: var( --color-surface-1 );
		background-image: none;
		border: var( --border-width-base ) solid var( --border-color-base );;
	}
}
