:root {
    --color-pico-red-950: oklch(0.179 0.03 47.101);
  --color-pico-red-900: oklch(0.229 0.05 37.915);
  --color-pico-red-850: oklch(0.272 0.076 32.653);
  --color-pico-red-800: oklch(0.318 0.103 30.712);
  --color-pico-red-750: oklch(0.363 0.126 29.611);
  --color-pico-red-700: oklch(0.408 0.142 29.854);
  --color-pico-red-650: oklch(0.454 0.158 29.735);
  --color-pico-red-600: oklch(0.496 0.172 29.653);
  --color-pico-red-550: oklch(0.542 0.189 29.8);
  --color-pico-red-500: oklch(0.583 0.203 29.728);
  --color-pico-red-450: oklch(0.629 0.213 29.997);
  --color-pico-red-400: oklch(0.67 0.182 31.688);
  --color-pico-red-350: oklch(0.709 0.153 32.687);
  --color-pico-red-300: oklch(0.751 0.126 33.305);
  --color-pico-red-250: oklch(0.792 0.102 33.648);
  --color-pico-red-200: oklch(0.833 0.076 34.006);
  --color-pico-red-150: oklch(0.874 0.052 34.361);
  --color-pico-red-100: oklch(0.916 0.032 32.061);
  --color-pico-red-50: oklch(0.958 0.014 34.299);
  --color-pico-red: oklch(0.542 0.189 29.8);
  --color-pico-pink-950: oklch(0.183 0.053 11.7);
  --color-pico-pink-900: oklch(0.232 0.074 8.76);
  --color-pico-pink-850: oklch(0.277 0.093 8.237);
  --color-pico-pink-800: oklch(0.322 0.114 8.081);
  --color-pico-pink-750: oklch(0.367 0.134 8.182);
  --color-pico-pink-700: oklch(0.412 0.15 8.085);
  --color-pico-pink-650: oklch(0.458 0.166 8.233);
  --color-pico-pink-600: oklch(0.502 0.182 8.349);
  --color-pico-pink-550: oklch(0.545 0.199 8.33);
  --color-pico-pink-500: oklch(0.582 0.212 8.211);
  --color-pico-pink-450: oklch(0.635 0.232 8.235);
  --color-pico-pink-400: oklch(0.675 0.199 8.563);
  --color-pico-pink-350: oklch(0.715 0.167 8.438);
  --color-pico-pink-300: oklch(0.754 0.137 8.38);
  --color-pico-pink-250: oklch(0.795 0.11 8.429);
  --color-pico-pink-200: oklch(0.837 0.081 9.357);
  --color-pico-pink-150: oklch(0.877 0.056 10.035);
  --color-pico-pink-100: oklch(0.917 0.034 8.64);
  --color-pico-pink-50: oklch(0.958 0.015 7.487);
  --color-pico-pink: oklch(0.582 0.212 8.211);
  --color-pico-fuchsia-950: oklch(0.182 0.059 344.928);
  --color-pico-fuchsia-900: oklch(0.234 0.079 346.695);
  --color-pico-fuchsia-850: oklch(0.278 0.101 345.558);
  --color-pico-fuchsia-800: oklch(0.325 0.123 346.029);
  --color-pico-fuchsia-750: oklch(0.37 0.144 346.309);
  --color-pico-fuchsia-700: oklch(0.417 0.162 346.212);
  --color-pico-fuchsia-650: oklch(0.462 0.18 346.088);
  --color-pico-fuchsia-600: oklch(0.506 0.196 346.035);
  --color-pico-fuchsia-550: oklch(0.551 0.214 346.228);
  --color-pico-fuchsia-500: oklch(0.602 0.234 346.163);
  --color-pico-fuchsia-450: oklch(0.643 0.25 346.085);
  --color-pico-fuchsia-400: oklch(0.684 0.234 346.156);
  --color-pico-fuchsia-350: oklch(0.723 0.197 346.047);
  --color-pico-fuchsia-300: oklch(0.761 0.163 346.038);
  --color-pico-fuchsia-250: oklch(0.8 0.131 346.223);
  --color-pico-fuchsia-200: oklch(0.839 0.097 345.706);
  --color-pico-fuchsia-150: oklch(0.879 0.067 345.475);
  --color-pico-fuchsia-100: oklch(0.919 0.04 345.395);
  --color-pico-fuchsia-50: oklch(0.959 0.018 345.618);
  --color-pico-fuchsia: oklch(0.551 0.214 346.228);
  --color-pico-purple-950: oklch(0.184 0.056 324.254);
  --color-pico-purple-900: oklch(0.234 0.075 320.67);
  --color-pico-purple-850: oklch(0.281 0.094 320.631);
  --color-pico-purple-800: oklch(0.325 0.114 320.706);
  --color-pico-purple-750: oklch(0.372 0.135 320.232);
  --color-pico-purple-700: oklch(0.417 0.151 320.727);
  --color-pico-purple-650: oklch(0.462 0.167 320.701);
  --color-pico-purple-600: oklch(0.509 0.183 320.689);
  --color-pico-purple-550: oklch(0.569 0.206 320.606);
  --color-pico-purple-500: oklch(0.599 0.217 320.426);
  --color-pico-purple-450: oklch(0.642 0.22 320.939);
  --color-pico-purple-400: oklch(0.68 0.196 321.082);
  --color-pico-purple-350: oklch(0.72 0.17 321.222);
  --color-pico-purple-300: oklch(0.759 0.146 321.493);
  --color-pico-purple-250: oklch(0.799 0.12 322.275);
  --color-pico-purple-200: oklch(0.838 0.093 322.177);
  --color-pico-purple-150: oklch(0.879 0.067 322.921);
  --color-pico-purple-100: oklch(0.919 0.04 323.331);
  --color-pico-purple-50: oklch(0.96 0.018 322.986);
  --color-pico-purple: oklch(0.509 0.183 320.689);
  --color-pico-violet-950: oklch(0.184 0.062 304.848);
  --color-pico-violet-900: oklch(0.236 0.085 299.322);
  --color-pico-violet-850: oklch(0.284 0.107 298.601);
  --color-pico-violet-800: oklch(0.329 0.129 298.002);
  --color-pico-violet-750: oklch(0.376 0.151 297.682);
  --color-pico-violet-700: oklch(0.422 0.17 297.55);
  --color-pico-violet-650: oklch(0.467 0.188 297.449);
  --color-pico-violet-600: oklch(0.504 0.189 298.492);
  --color-pico-violet-550: oklch(0.549 0.173 300.421);
  --color-pico-violet-500: oklch(0.591 0.158 302.24);
  --color-pico-violet-450: oklch(0.63 0.142 303.166);
  --color-pico-violet-400: oklch(0.67 0.127 304.572);
  --color-pico-violet-350: oklch(0.711 0.11 305.134);
  --color-pico-violet-300: oklch(0.752 0.096 305.631);
  --color-pico-violet-250: oklch(0.794 0.079 306.945);
  --color-pico-violet-200: oklch(0.834 0.06 307.139);
  --color-pico-violet-150: oklch(0.876 0.044 307.907);
  --color-pico-violet-100: oklch(0.916 0.027 307.041);
  --color-pico-violet-50: oklch(0.958 0.011 308.328);
  --color-pico-violet: oklch(0.504 0.189 298.492);
  --color-pico-indigo-950: oklch(0.187 0.072 284.196);
  --color-pico-indigo-900: oklch(0.235 0.089 279.834);
  --color-pico-indigo-850: oklch(0.282 0.111 277.296);
  --color-pico-indigo-800: oklch(0.328 0.136 276.441);
  --color-pico-indigo-750: oklch(0.375 0.158 275.618);
  --color-pico-indigo-700: oklch(0.42 0.178 275.511);
  --color-pico-indigo-650: oklch(0.457 0.193 275.589);
  --color-pico-indigo-600: oklch(0.508 0.197 278.111);
  --color-pico-indigo-550: oklch(0.549 0.181 281.966);
  --color-pico-indigo-500: oklch(0.588 0.167 284.859);
  --color-pico-indigo-450: oklch(0.628 0.15 287.579);
  --color-pico-indigo-400: oklch(0.67 0.133 289.381);
  --color-pico-indigo-350: oklch(0.71 0.117 291.045);
  --color-pico-indigo-300: oklch(0.752 0.099 292.5);
  --color-pico-indigo-250: oklch(0.793 0.082 293.129);
  --color-pico-indigo-200: oklch(0.833 0.063 294.159);
  --color-pico-indigo-150: oklch(0.874 0.046 296.543);
  --color-pico-indigo-100: oklch(0.917 0.027 297.292);
  --color-pico-indigo-50: oklch(0.959 0.012 296.351);
  --color-pico-indigo: oklch(0.508 0.197 278.111);
  --color-pico-blue-950: oklch(0.183 0.061 269.398);
  --color-pico-blue-900: oklch(0.233 0.077 265.775);
  --color-pico-blue-850: oklch(0.276 0.1 264.403);
  --color-pico-blue-800: oklch(0.322 0.122 263.112);
  --color-pico-blue-750: oklch(0.368 0.141 261.905);
  --color-pico-blue-700: oklch(0.414 0.16 261.848);
  --color-pico-blue-650: oklch(0.458 0.177 261.959);
  --color-pico-blue-600: oklch(0.502 0.194 262.046);
  --color-pico-blue-550: oklch(0.529 0.204 262.05);
  --color-pico-blue-500: oklch(0.59 0.209 264.494);
  --color-pico-blue-450: oklch(0.63 0.186 268.856);
  --color-pico-blue-400: oklch(0.67 0.163 272.345);
  --color-pico-blue-350: oklch(0.711 0.141 275.073);
  --color-pico-blue-300: oklch(0.752 0.12 277.334);
  --color-pico-blue-250: oklch(0.793 0.1 279.453);
  --color-pico-blue-200: oklch(0.833 0.077 281.333);
  --color-pico-blue-150: oklch(0.875 0.055 282.936);
  --color-pico-blue-100: oklch(0.917 0.034 283.884);
  --color-pico-blue-50: oklch(0.958 0.015 286.12);
  --color-pico-blue: oklch(0.529 0.204 262.05);
  --color-pico-azure-950: oklch(0.175 0.031 242.216);
  --color-pico-azure-900: oklch(0.226 0.045 242.773);
  --color-pico-azure-850: oklch(0.269 0.058 242.01);
  --color-pico-azure-800: oklch(0.312 0.072 242.591);
  --color-pico-azure-750: oklch(0.356 0.083 241.502);
  --color-pico-azure-700: oklch(0.399 0.094 241.832);
  --color-pico-azure-650: oklch(0.441 0.104 242.087);
  --color-pico-azure-600: oklch(0.486 0.115 242.149);
  --color-pico-azure-550: oklch(0.529 0.125 242.049);
  --color-pico-azure-500: oklch(0.572 0.135 242.039);
  --color-pico-azure-450: oklch(0.614 0.147 242.392);
  --color-pico-azure-400: oklch(0.658 0.156 242.239);
  --color-pico-azure-350: oklch(0.707 0.168 242.069);
  --color-pico-azure-300: oklch(0.743 0.143 244.438);
  --color-pico-azure-250: oklch(0.786 0.115 246.66);
  --color-pico-azure-200: oklch(0.828 0.086 248.908);
  --color-pico-azure-150: oklch(0.872 0.061 249.279);
  --color-pico-azure-100: oklch(0.914 0.037 250.759);
  --color-pico-azure-50: oklch(0.957 0.017 250.842);
  --color-pico-azure: oklch(0.529 0.125 242.049);
  --color-pico-cyan-950: oklch(0.176 0.023 190.187);
  --color-pico-cyan-900: oklch(0.219 0.032 195.088);
  --color-pico-cyan-850: oklch(0.264 0.041 194.952);
  --color-pico-cyan-800: oklch(0.306 0.05 194.862);
  --color-pico-cyan-750: oklch(0.347 0.059 194.785);
  --color-pico-cyan-700: oklch(0.391 0.066 194.78);
  --color-pico-cyan-650: oklch(0.433 0.073 194.785);
  --color-pico-cyan-600: oklch(0.475 0.08 194.794);
  --color-pico-cyan-550: oklch(0.519 0.088 194.788);
  --color-pico-cyan-500: oklch(0.562 0.095 194.788);
  --color-pico-cyan-450: oklch(0.604 0.102 194.784);
  --color-pico-cyan-400: oklch(0.645 0.109 194.781);
  --color-pico-cyan-350: oklch(0.689 0.116 194.789);
  --color-pico-cyan-300: oklch(0.738 0.125 194.786);
  --color-pico-cyan-250: oklch(0.771 0.131 194.787);
  --color-pico-cyan-200: oklch(0.815 0.134 194.844);
  --color-pico-cyan-150: oklch(0.859 0.135 194.342);
  --color-pico-cyan-100: oklch(0.902 0.132 194.469);
  --color-pico-cyan-50: oklch(0.952 0.057 193.548);
  --color-pico-cyan: oklch(0.519 0.088 194.788);
  --color-pico-jade-950: oklch(0.173 0.029 161.403);
  --color-pico-jade-900: oklch(0.218 0.041 161.285);
  --color-pico-jade-850: oklch(0.261 0.054 160.385);
  --color-pico-jade-800: oklch(0.302 0.065 160.633);
  --color-pico-jade-750: oklch(0.345 0.078 160.34);
  --color-pico-jade-700: oklch(0.387 0.087 160.285);
  --color-pico-jade-650: oklch(0.429 0.096 160.437);
  --color-pico-jade-600: oklch(0.472 0.107 160.059);
  --color-pico-jade-550: oklch(0.512 0.115 160.666);
  --color-pico-jade-500: oklch(0.556 0.125 160.485);
  --color-pico-jade-450: oklch(0.597 0.133 160.585);
  --color-pico-jade-400: oklch(0.64 0.144 160.495);
  --color-pico-jade-350: oklch(0.68 0.152 160.631);
  --color-pico-jade-300: oklch(0.724 0.163 160.26);
  --color-pico-jade-250: oklch(0.746 0.168 160.434);
  --color-pico-jade-200: oklch(0.808 0.176 160.401);
  --color-pico-jade-150: oklch(0.852 0.178 160.351);
  --color-pico-jade-100: oklch(0.896 0.154 160.359);
  --color-pico-jade-50: oklch(0.95 0.062 160.85);
  --color-pico-jade: oklch(0.512 0.115 160.666);
  --color-pico-green-950: oklch(0.174 0.031 131.948);
  --color-pico-green-900: oklch(0.221 0.046 131.242);
  --color-pico-green-850: oklch(0.261 0.065 135.467);
  --color-pico-green-800: oklch(0.304 0.085 137.331);
  --color-pico-green-750: oklch(0.343 0.101 137.916);
  --color-pico-green-700: oklch(0.386 0.113 138.003);
  --color-pico-green-650: oklch(0.427 0.126 138.032);
  --color-pico-green-600: oklch(0.471 0.139 138.202);
  --color-pico-green-550: oklch(0.511 0.151 138.052);
  --color-pico-green-500: oklch(0.553 0.163 138.187);
  --color-pico-green-450: oklch(0.597 0.177 138.144);
  --color-pico-green-400: oklch(0.637 0.189 138.097);
  --color-pico-green-350: oklch(0.68 0.201 138.161);
  --color-pico-green-300: oklch(0.722 0.213 138.173);
  --color-pico-green-250: oklch(0.763 0.225 138.061);
  --color-pico-green-200: oklch(0.786 0.23 138.057);
  --color-pico-green-150: oklch(0.85 0.235 137.693);
  --color-pico-green-100: oklch(0.895 0.211 136.695);
  --color-pico-green-50: oklch(0.948 0.085 133.781);
  --color-pico-green: oklch(0.553 0.163 138.187);
  --color-pico-lime-950: oklch(0.175 0.031 115.144);
  --color-pico-lime-900: oklch(0.22 0.045 117.243);
  --color-pico-lime-850: oklch(0.263 0.061 121.843);
  --color-pico-lime-800: oklch(0.305 0.076 124.239);
  --color-pico-lime-750: oklch(0.348 0.087 124.601);
  --color-pico-lime-700: oklch(0.389 0.098 124.866);
  --color-pico-lime-650: oklch(0.433 0.109 124.944);
  --color-pico-lime-600: oklch(0.473 0.118 124.621);
  --color-pico-lime-550: oklch(0.517 0.13 125.055);
  --color-pico-lime-500: oklch(0.559 0.14 124.695);
  --color-pico-lime-450: oklch(0.601 0.151 125.047);
  --color-pico-lime-400: oklch(0.641 0.161 124.745);
  --color-pico-lime-350: oklch(0.686 0.172 124.972);
  --color-pico-lime-300: oklch(0.728 0.182 124.666);
  --color-pico-lime-250: oklch(0.771 0.193 124.868);
  --color-pico-lime-200: oklch(0.812 0.203 124.596);
  --color-pico-lime-150: oklch(0.855 0.209 124.521);
  --color-pico-lime-100: oklch(0.898 0.208 124.037);
  --color-pico-lime-50: oklch(0.945 0.149 120.967);
  --color-pico-lime: oklch(0.812 0.203 124.596);
  --color-pico-yellow-950: oklch(0.177 0.029 99.033);
  --color-pico-yellow-900: oklch(0.223 0.043 103.3);
  --color-pico-yellow-850: oklch(0.266 0.056 101.937);
  --color-pico-yellow-800: oklch(0.309 0.065 103.335);
  --color-pico-yellow-750: oklch(0.351 0.074 103.192);
  --color-pico-yellow-700: oklch(0.393 0.083 103.086);
  --color-pico-yellow-650: oklch(0.436 0.092 103.075);
  --color-pico-yellow-600: oklch(0.479 0.101 103.067);
  --color-pico-yellow-550: oklch(0.521 0.11 103.061);
  --color-pico-yellow-500: oklch(0.564 0.119 103.726);
  --color-pico-yellow-450: oklch(0.607 0.128 103.692);
  --color-pico-yellow-400: oklch(0.65 0.137 103.695);
  --color-pico-yellow-350: oklch(0.693 0.146 103.203);
  --color-pico-yellow-300: oklch(0.734 0.154 103.227);
  --color-pico-yellow-250: oklch(0.778 0.164 103.271);
  --color-pico-yellow-200: oklch(0.821 0.173 103.327);
  --color-pico-yellow-150: oklch(0.864 0.182 103.367);
  --color-pico-yellow-100: oklch(0.891 0.186 103.19);
  --color-pico-yellow-50: oklch(0.953 0.079 98.297);
  --color-pico-yellow: oklch(0.891 0.186 103.19);
  --color-pico-amber-950: oklch(0.177 0.028 87.891);
  --color-pico-amber-900: oklch(0.223 0.04 88.414);
  --color-pico-amber-850: oklch(0.266 0.052 84.93);
  --color-pico-amber-800: oklch(0.31 0.064 84.641);
  --color-pico-amber-750: oklch(0.352 0.072 83.563);
  --color-pico-amber-700: oklch(0.396 0.081 84.056);
  --color-pico-amber-650: oklch(0.438 0.09 84.432);
  --color-pico-amber-600: oklch(0.481 0.099 83.959);
  --color-pico-amber-550: oklch(0.525 0.108 84.484);
  --color-pico-amber-500: oklch(0.569 0.117 84.287);
  --color-pico-amber-450: oklch(0.612 0.126 84.124);
  --color-pico-amber-400: oklch(0.655 0.134 83.988);
  --color-pico-amber-350: oklch(0.697 0.143 83.872);
  --color-pico-amber-300: oklch(0.741 0.152 83.913);
  --color-pico-amber-250: oklch(0.783 0.161 84.339);
  --color-pico-amber-200: oklch(0.84 0.172 84.076);
  --color-pico-amber-150: oklch(0.869 0.135 83.741);
  --color-pico-amber-100: oklch(0.913 0.079 82.066);
  --color-pico-amber-50: oklch(0.957 0.032 80.998);
  --color-pico-amber: oklch(0.84 0.172 84.076);
  --color-pico-pumpkin-950: oklch(0.177 0.027 73.776);
  --color-pico-pumpkin-900: oklch(0.224 0.04 70.86);
  --color-pico-pumpkin-850: oklch(0.268 0.054 67.311);
  --color-pico-pumpkin-800: oklch(0.312 0.068 64.348);
  --color-pico-pumpkin-750: oklch(0.356 0.081 63.336);
  --color-pico-pumpkin-700: oklch(0.398 0.091 62.461);
  --color-pico-pumpkin-650: oklch(0.443 0.102 62.183);
  --color-pico-pumpkin-600: oklch(0.488 0.111 62.827);
  --color-pico-pumpkin-550: oklch(0.53 0.121 62.568);
  --color-pico-pumpkin-500: oklch(0.573 0.131 63.062);
  --color-pico-pumpkin-450: oklch(0.615 0.141 62.435);
  --color-pico-pumpkin-400: oklch(0.661 0.151 62.67);
  --color-pico-pumpkin-350: oklch(0.704 0.161 62.771);
  --color-pico-pumpkin-300: oklch(0.765 0.175 62.574);
  --color-pico-pumpkin-250: oklch(0.79 0.157 64.152);
  --color-pico-pumpkin-200: oklch(0.83 0.121 64.05);
  --color-pico-pumpkin-150: oklch(0.872 0.084 64.609);
  --color-pico-pumpkin-100: oklch(0.914 0.051 62.291);
  --color-pico-pumpkin-50: oklch(0.957 0.021 60.748);
  --color-pico-pumpkin: oklch(0.765 0.175 62.574);
  --color-pico-orange-950: oklch(0.177 0.028 48.747);
  --color-pico-orange-900: oklch(0.227 0.044 46.248);
  --color-pico-orange-850: oklch(0.273 0.066 41.624);
  --color-pico-orange-800: oklch(0.318 0.089 38.832);
  --color-pico-orange-750: oklch(0.362 0.109 37.267);
  --color-pico-orange-700: oklch(0.405 0.127 36.603);
  --color-pico-orange-650: oklch(0.45 0.144 36.197);
  --color-pico-orange-600: oklch(0.494 0.158 36.157);
  --color-pico-orange-550: oklch(0.54 0.172 36.353);
  --color-pico-orange-500: oklch(0.583 0.187 36.079);
  --color-pico-orange-450: oklch(0.627 0.2 36.248);
  --color-pico-orange-400: oklch(0.669 0.195 37.467);
  --color-pico-orange-350: oklch(0.69 0.18 38.432);
  --color-pico-orange-300: oklch(0.75 0.137 40.625);
  --color-pico-orange-250: oklch(0.791 0.111 40.574);
  --color-pico-orange-200: oklch(0.834 0.083 41.147);
  --color-pico-orange-150: oklch(0.875 0.057 41.275);
  --color-pico-orange-100: oklch(0.916 0.035 39.984);
  --color-pico-orange-50: oklch(0.957 0.014 39.419);
  --color-pico-orange: oklch(0.583 0.187 36.079);
  --color-pico-sand-950: oklch(0.177 0.002 106.604);
  --color-pico-sand-900: oklch(0.222 0.004 84.588);
  --color-pico-sand-850: oklch(0.268 0.007 95.337);
  --color-pico-sand-800: oklch(0.309 0.009 88.753);
  --color-pico-sand-750: oklch(0.352 0.011 91.642);
  --color-pico-sand-700: oklch(0.395 0.012 87.545);
  --color-pico-sand-650: oklch(0.439 0.013 89.83);
  --color-pico-sand-600: oklch(0.482 0.015 91.645);
  --color-pico-sand-550: oklch(0.525 0.016 88.757);
  --color-pico-sand-500: oklch(0.569 0.019 91.66);
  --color-pico-sand-450: oklch(0.611 0.019 88.047);
  --color-pico-sand-400: oklch(0.654 0.021 90.614);
  --color-pico-sand-350: oklch(0.699 0.022 91.654);
  --color-pico-sand-300: oklch(0.741 0.023 92.572);
  --color-pico-sand-250: oklch(0.783 0.024 90.792);
  --color-pico-sand-200: oklch(0.826 0.025 91.648);
  --color-pico-sand-150: oklch(0.87 0.025 91.636);
  --color-pico-sand-100: oklch(0.913 0.022 89.8);
  --color-pico-sand-50: oklch(0.956 0.006 84.566);
  --color-pico-sand: oklch(0.826 0.025 91.648);
  --color-pico-grey-950: oklch(0.178 0 0);
  --color-pico-grey-900: oklch(0.222 0 0);
  --color-pico-grey-850: oklch(0.269 0 0);
  --color-pico-grey-800: oklch(0.309 0 0);
  --color-pico-grey-750: oklch(0.352 0 0);
  --color-pico-grey-700: oklch(0.398 0 0);
  --color-pico-grey-650: oklch(0.439 0 0);
  --color-pico-grey-600: oklch(0.482 0 0);
  --color-pico-grey-550: oklch(0.524 0 0);
  --color-pico-grey-500: oklch(0.569 0 0);
  --color-pico-grey-450: oklch(0.6 0 0);
  --color-pico-grey-400: oklch(0.657 0 0);
  --color-pico-grey-350: oklch(0.699 0 0);
  --color-pico-grey-300: oklch(0.741 0 0);
  --color-pico-grey-250: oklch(0.786 0 0);
  --color-pico-grey-200: oklch(0.827 0 0);
  --color-pico-grey-150: oklch(0.87 0 0);
  --color-pico-grey-100: oklch(0.913 0 0);
  --color-pico-grey-50: oklch(0.958 0 0);
  --color-pico-grey: oklch(0.741 0 0);
  --color-pico-zinc-950: oklch(0.177 0.007 258.371);
  --color-pico-zinc-900: oklch(0.225 0.009 255.605);
  --color-pico-zinc-850: oklch(0.268 0.012 264.35);
  --color-pico-zinc-800: oklch(0.312 0.014 261.713);
  --color-pico-zinc-750: oklch(0.355 0.015 259.809);
  --color-pico-zinc-700: oklch(0.397 0.018 264.345);
  --color-pico-zinc-650: oklch(0.441 0.02 262.658);
  --color-pico-zinc-600: oklch(0.498 0.022 262.913);
  --color-pico-zinc-550: oklch(0.527 0.024 264.349);
  --color-pico-zinc-500: oklch(0.57 0.026 260.688);
  --color-pico-zinc-450: oklch(0.612 0.028 263.246);
  --color-pico-zinc-400: oklch(0.656 0.03 265.342);
  --color-pico-zinc-350: oklch(0.698 0.027 265.516);
  --color-pico-zinc-300: oklch(0.743 0.022 261.754);
  --color-pico-zinc-250: oklch(0.785 0.018 264.463);
  --color-pico-zinc-200: oklch(0.828 0.014 262.373);
  --color-pico-zinc-150: oklch(0.872 0.009 258.338);
  --color-pico-zinc-100: oklch(0.915 0.006 255.477);
  --color-pico-zinc-50: oklch(0.958 0.003 264.542);
  --color-pico-zinc: oklch(0.527 0.024 264.349);
  --color-pico-slate-950: oklch(0.178 0.015 266.714);
  --color-pico-slate-900: oklch(0.227 0.019 266.155);
  --color-pico-slate-850: oklch(0.268 0.024 264.042);
  --color-pico-slate-800: oklch(0.313 0.029 265.239);
  --color-pico-slate-750: oklch(0.356 0.034 264.004);
  --color-pico-slate-700: oklch(0.398 0.038 264.858);
  --color-pico-slate-650: oklch(0.442 0.042 265.514);
  --color-pico-slate-600: oklch(0.485 0.047 264.662);
  --color-pico-slate-550: oklch(0.528 0.05 265.204);
  --color-pico-slate-500: oklch(0.572 0.055 264.544);
  --color-pico-slate-450: oklch(0.616 0.059 263.999);
  --color-pico-slate-400: oklch(0.657 0.057 266.11);
  --color-pico-slate-350: oklch(0.699 0.05 266.521);
  --color-pico-slate-300: oklch(0.744 0.041 266.393);
  --color-pico-slate-250: oklch(0.786 0.034 268.594);
  --color-pico-slate-200: oklch(0.829 0.027 266.576);
  --color-pico-slate-150: oklch(0.872 0.019 265.97);
  --color-pico-slate-100: oklch(0.915 0.012 264.508);
  --color-pico-slate-50: oklch(0.957 0.005 258.325);
  --color-pico-slate: oklch(0.485 0.047 264.662);
  --color-pico-light: oklch(1 0 0);
  --color-pico-dark: oklch(0 0 0);
}
