:root {
  --color-wa-red-1000: oklch(0.967 0.016 22.08);
  --color-wa-red-900: oklch(0.927 0.037 21.966);
  --color-wa-red-800: oklch(0.848 0.083 21.686);
  --color-wa-red-700: oklch(0.769 0.135 21.762);
  --color-wa-red-600: oklch(0.69 0.176 22.472);
  --color-wa-red-500: oklch(0.589 0.215 27.156);
  --color-wa-red-400: oklch(0.488 0.196 25.68);
  --color-wa-red-300: oklch(0.412 0.167 24.609);
  --color-wa-red-200: oklch(0.335 0.136 24.617);
  --color-wa-red-100: oklch(0.246 0.1 24.835);
  --color-wa-red-50: oklch(0.192 0.078 25.517);
  --color-wa-red: var(--color-wa-red-500);
  
  --color-wa-orange-1000: oklch(0.964 0.023 61.238);
  --color-wa-orange-900: oklch(0.926 0.047 59.917);
  --color-wa-orange-800: oklch(0.844 0.102 57.161);
  --color-wa-orange-700: oklch(0.765 0.16 54.102);
  --color-wa-orange-600: oklch(0.687 0.188 47.79);
  --color-wa-orange-500: oklch(0.581 0.171 43.217);
  --color-wa-orange-400: oklch(0.479 0.145 41.739);
  --color-wa-orange-300: oklch(0.405 0.126 40.51);
  --color-wa-orange-200: oklch(0.329 0.103 40.228);
  --color-wa-orange-100: oklch(0.241 0.074 40.837);
  --color-wa-orange-50: oklch(0.188 0.059 39.827);
  --color-wa-orange: var(--color-wa-orange-600);
  
  --color-wa-yellow-1000: oklch(0.958 0.067 96.369);
  --color-wa-yellow-900: oklch(0.922 0.116 95.327);
  --color-wa-yellow-800: oklch(0.839 0.144 85.083);
  --color-wa-yellow-700: oklch(0.758 0.157 75.537);
  --color-wa-yellow-600: oklch(0.678 0.153 64.455);
  --color-wa-yellow-500: oklch(0.573 0.137 58.338);
  --color-wa-yellow-400: oklch(0.472 0.115 56.655);
  --color-wa-yellow-300: oklch(0.4 0.098 56.323);
  --color-wa-yellow-200: oklch(0.325 0.08 55.802);
  --color-wa-yellow-100: oklch(0.238 0.058 56.02);
  --color-wa-yellow-50: oklch(0.186 0.044 58.553);
  --color-wa-yellow: var(--color-wa-yellow-700);
  
  --color-wa-green-1000: oklch(0.956 0.055 155.707);
  --color-wa-green-900: oklch(0.911 0.111 155.347);
  --color-wa-green-800: oklch(0.819 0.152 153.525);
  --color-wa-green-700: oklch(0.735 0.167 151);
  --color-wa-green-600: oklch(0.652 0.171 149.587);
  --color-wa-green-500: oklch(0.546 0.146 150.177);
  --color-wa-green-400: oklch(0.451 0.109 151.559);
  --color-wa-green-300: oklch(0.382 0.09 151.632);
  --color-wa-green-200: oklch(0.309 0.073 151.476);
  --color-wa-green-100: oklch(0.227 0.053 151.918);
  --color-wa-green-50: oklch(0.178 0.041 152.68);
  --color-wa-green: var(--color-wa-green-600);
  
  --color-wa-cyan-1000: oklch(0.961 0.035 200.932);
  --color-wa-cyan-900: oklch(0.912 0.077 200.931);
  --color-wa-cyan-800: oklch(0.827 0.105 200.677);
  --color-wa-cyan-700: oklch(0.739 0.118 201.933);
  --color-wa-cyan-600: oklch(0.655 0.11 202.61);
  --color-wa-cyan-500: oklch(0.554 0.092 204.533);
  --color-wa-cyan-400: oklch(0.454 0.075 206.175);
  --color-wa-cyan-300: oklch(0.385 0.063 207.36);
  --color-wa-cyan-200: oklch(0.313 0.051 209.297);
  --color-wa-cyan-100: oklch(0.227 0.04 211.942);
  --color-wa-cyan-50: oklch(0.181 0.032 217.315);
  --color-wa-cyan: var(--color-wa-cyan-700);
  
  --color-wa-blue-1000: oklch(0.961 0.024 226.468);
  --color-wa-blue-900: oklch(0.918 0.052 225.996);
  --color-wa-blue-800: oklch(0.831 0.1 229.906);
  --color-wa-blue-700: oklch(0.746 0.132 235.424);
  --color-wa-blue-600: oklch(0.664 0.144 240.021);
  --color-wa-blue-500: oklch(0.56 0.135 242.725);
  --color-wa-blue-400: oklch(0.461 0.114 244.281);
  --color-wa-blue-300: oklch(0.391 0.097 244.332);
  --color-wa-blue-200: oklch(0.318 0.08 245.13);
  --color-wa-blue-100: oklch(0.231 0.058 244.588);
  --color-wa-blue-50: oklch(0.181 0.047 246.168);
  --color-wa-blue: var(--color-wa-blue-600);
  
  --color-wa-indigo-1000: oklch(0.963 0.018 275.644);
  --color-wa-indigo-900: oklch(0.926 0.036 277.034);
  --color-wa-indigo-800: oklch(0.842 0.079 277.453);
  --color-wa-indigo-700: oklch(0.758 0.12 276.852);
  --color-wa-indigo-600: oklch(0.678 0.16 276.897);
  --color-wa-indigo-500: oklch(0.578 0.207 277.145);
  --color-wa-indigo-400: oklch(0.484 0.216 277.354);
  --color-wa-indigo-300: oklch(0.406 0.161 278.544);
  --color-wa-indigo-200: oklch(0.329 0.123 278.988);
  --color-wa-indigo-100: oklch(0.242 0.089 279.28);
  --color-wa-indigo-50: oklch(0.188 0.069 278.597);
  --color-wa-indigo: var(--color-wa-indigo-400);
  
  --color-wa-purple-1000: oklch(0.964 0.021 304.035);
  --color-wa-purple-900: oklch(0.927 0.044 305.891);
  --color-wa-purple-800: oklch(0.847 0.096 305.851);
  --color-wa-purple-700: oklch(0.767 0.15 305.265);
  --color-wa-purple-600: oklch(0.691 0.202 304.188);
  --color-wa-purple-500: oklch(0.593 0.239 304.1);
  --color-wa-purple-400: oklch(0.492 0.219 304.236);
  --color-wa-purple-300: oklch(0.414 0.181 304.638);
  --color-wa-purple-200: oklch(0.338 0.15 304.563);
  --color-wa-purple-100: oklch(0.249 0.112 304.517);
  --color-wa-purple-50: oklch(0.193 0.088 304.849);
  --color-wa-purple: var(--color-wa-purple-500);
  
  --color-wa-pink-1000: oklch(0.965 0.018 342.025);
  --color-wa-pink-900: oklch(0.926 0.042 343.074);
  --color-wa-pink-800: oklch(0.85 0.091 345.398);
  --color-wa-pink-700: oklch(0.771 0.145 348.368);
  --color-wa-pink-600: oklch(0.694 0.192 351.99);
  --color-wa-pink-500: oklch(0.593 0.218 0.283);
  --color-wa-pink-400: oklch(0.487 0.182 3.824);
  --color-wa-pink-300: oklch(0.412 0.146 2.418);
  --color-wa-pink-200: oklch(0.334 0.12 3.386);
  --color-wa-pink-100: oklch(0.246 0.099 5.321);
  --color-wa-pink-50: oklch(0.195 0.078 12.211);
  --color-wa-pink: var(--color-wa-pink-500);
  
  --color-wa-gray-1000: oklch(0.961 0.001 286.375);
  --color-wa-gray-900: oklch(0.923 0.004 286.32);
  --color-wa-gray-800: oklch(0.837 0.004 286.31);
  --color-wa-gray-700: oklch(0.754 0.003 264.539);
  --color-wa-gray-600: oklch(0.671 0.009 278.564);
  --color-wa-gray-500: oklch(0.56 0.014 275.926);
  --color-wa-gray-400: oklch(0.462 0.015 275.827);
  --color-wa-gray-300: oklch(0.392 0.014 274.578);
  --color-wa-gray-200: oklch(0.314 0.005 286.092);
  --color-wa-gray-100: oklch(0.232 0.006 285.946);
  --color-wa-gray-50: oklch(0.177 0.004 264.456);
  --color-wa-gray: var(--color-wa-gray-400);
}
