.primitives-old-country() {
    --color-contessa-50: oklch(97.53% 0.01 27.43);
  --color-contessa-100: oklch(94.62% 0.02 26.18);
  --color-contessa-200: oklch(90.3% 0.03 26.86);
  --color-contessa-300: oklch(83.48% 0.06 27.6);
  --color-contessa-400: oklch(73.91% 0.1 28.39);
  --color-contessa-500: oklch(67.06% 0.12 28.92);
  --color-contessa-600: oklch(57.59% 0.14 30.07);
  --color-contessa-700: oklch(50.27% 0.13 30.2);
  --color-contessa-800: oklch(44.53% 0.1 29.64);
  --color-contessa-900: oklch(40.35% 0.08 29.37);
  --color-contessa-950: oklch(26.21% 0.05 29.88);
}
