:root {
  --color-old-country-vintage-white: var(--color-vintage-white-200);
  --color-old-country-beige: var(--color-latti-200);
  --color-old-country-gray: var(--color-ashfall-500);
  --color-old-country-light-gray: var(--color-ashfall-400);
  --color-old-country-gold: var(--color-antique-gold-500);
  --color-old-country-bronze: var(--color-deep-bronze-1000);
  --color-old-country-red: var(--color-pumadoru-700);
  --color-old-country-renaissance-light: var(--color-renaissance-dark-50);
  --color-old-country-renaissance-dark: var(--color-renaissance-dark-900);
  --color-old-country-casa-nostra-red: var(--color-casa-nostra-red-700);
  --color-old-country-green: var(--color-olive-green-700);
  --color-old-country-yellow: var(--color-siclian-yellow-300);
  --color-old-country-almost-white: var(--color-ashfall-100);
  --color-old-country-tarnished-gold: linear-gradient(
 180deg, var(--color-old-country-gold) 0%, var(--color-old-country-bronze) 100%
 );
  --color-old-country-white: var(--color-white);
  --color-old-country-black: var(--color-black);

  --color-renaissance-dark-50: oklch(94.2% 0.002 53.755);
  --color-renaissance-dark-100: oklch(90.4% 0.003 53.755);
  --color-renaissance-dark-200: oklch(84.7% 0.004 53.755);
  --color-renaissance-dark-300: oklch(74.3% 0.005 53.755);
  --color-renaissance-dark-400: oklch(53.4% 0.006 53.755);
  --color-renaissance-dark-500: oklch(42.1% 0.007 53.755);
  --color-renaissance-dark-600: oklch(33.5% 0.008 53.755);
  --color-renaissance-dark-700: oklch(25.9% 0.009 53.755);
  --color-renaissance-dark-800: oklch(21.2% 0.01 53.755);
  --color-renaissance-dark-900: oklch(15.5% 0.011 53.755);
  --color-renaissance-dark-1000: oklch(11% 0.012 53.755);

  --color-contessa-50: oklch(97.53% 0.01 27.43);
  --color-contessa-100: oklch(94.62% 0.02 26.18);
  --color-contessa-200: oklch(90.3% 0.03 26.86);
  --color-contessa-300: oklch(83.48% 0.06 27.6);
  --color-contessa-400: oklch(73.91% 0.1 28.39);
  --color-contessa-500: oklch(67.06% 0.12 28.92);
  --color-contessa-600: oklch(57.59% 0.14 30.07);
  --color-contessa-700: oklch(50.27% 0.13 30.2);
  --color-contessa-800: oklch(44.53% 0.1 29.64);
  --color-contessa-900: oklch(40.35% 0.08 29.37);
  --color-contessa-1000: oklch(26.21% 0.05 29.88);

  --color-apple-blossom-50: oklch(97.32% 0.01 53.55);
  --color-apple-blossom-100: oklch(93.97% 0.02 61.36);
  --color-apple-blossom-200: oklch(87.2% 0.03 54.68);
  --color-apple-blossom-300: oklch(78.81% 0.05 52.87);
  --color-apple-blossom-400: oklch(68.98% 0.08 45.46);
  --color-apple-blossom-500: oklch(62.05% 0.1 41.21);
  --color-apple-blossom-600: oklch(56.81% 0.11 35.34);
  --color-apple-blossom-700: oklch(51.98% 0.1 31.3);
  --color-apple-blossom-800: oklch(43.12% 0.08 28.51);
  --color-apple-blossom-900: oklch(37.86% 0.06 27.67);
  --color-apple-blossom-950: oklch(25.01% 0.04 25.31);
  --color-apple-blossom-1000: oklch(16% 0.025 25.31);

  --color-antique-gold-50: oklch(97.25% 0.01 95.08);
  --color-antique-gold-100: oklch(93.18% 0.03 97.59);
  --color-antique-gold-200: oklch(86.75% 0.05 96.21);
  --color-antique-gold-300: oklch(78.37% 0.08 93.19);
  --color-antique-gold-400: oklch(70.89% 0.09 90.51);
  --color-antique-gold-500: oklch(63.27% 0.09 88.43);
  --color-antique-gold-600: oklch(55.98% 0.08 82.39);
  --color-antique-gold-700: oklch(46.91% 0.06 76.53);
  --color-antique-gold-800: oklch(41.72% 0.05 71.79);
  --color-antique-gold-900: oklch(38.06% 0.04 69.38);
  --color-antique-gold-1000: oklch(25.88% 0.03 63.72);

  --color-casa-nostra-red-50: oklch(95% 0.029 28.503);
  --color-casa-nostra-red-100: oklch(92% 0.048 28.503);
  --color-casa-nostra-red-200: oklch(86% 0.072 28.503);
  --color-casa-nostra-red-300: oklch(80% 0.102 28.503);
  --color-casa-nostra-red-400: oklch(72% 0.129 28.503);
  --color-casa-nostra-red-500: oklch(62% 0.155 28.503);
  --color-casa-nostra-red-600: oklch(58% 0.182 28.503);
  --color-casa-nostra-red-700: oklch(52% 0.203 28.503);
  --color-casa-nostra-red-800: oklch(47% 0.179 28.503);
  --color-casa-nostra-red-900: oklch(34% 0.125 28.503);
  --color-casa-nostra-red-950: oklch(24% 0.06 28.503);
  --color-casa-nostra-red-1000: oklch(16% 0.06 28.503);

  --color-olive-green-50: oklch(96% 0.018 132);
  --color-olive-green-100: oklch(92% 0.028 132);
  --color-olive-green-200: oklch(86% 0.04 132);
  --color-olive-green-300: oklch(79% 0.054 132);
  --color-olive-green-400: oklch(70% 0.069 132);
  --color-olive-green-500: oklch(61% 0.08 132);
  --color-olive-green-600: oklch(56% 0.087 132);
  --color-olive-green-700: oklch(52% 0.082 132);
  --color-olive-green-800: oklch(45% 0.069 132);
  --color-olive-green-900: oklch(33% 0.048 132);
  --color-olive-green-950: oklch(24% 0.048 132);
  --color-olive-green-1000: oklch(16% 0.022 132);

  --color-sicilian-yellow-50: oklch(97.5% 0.025 100.369);
  --color-sicilian-yellow-100: oklch(95% 0.05 100.369);
  --color-sicilian-yellow-200: oklch(92% 0.1 100.369);
  --color-sicilian-yellow-300: oklch(87.9% 0.158 100.369);
  --color-sicilian-yellow-400: oklch(83% 0.17 100.369);
  --color-sicilian-yellow-500: oklch(76% 0.16 100.369);
  --color-sicilian-yellow-600: oklch(68% 0.145 100.369);
  --color-sicilian-yellow-700: oklch(59% 0.122 100.369);
  --color-sicilian-yellow-800: oklch(49% 0.098 100.369);
  --color-sicilian-yellow-900: oklch(36% 0.072 100.369);
  --color-sicilian-yellow-950: oklch(24% 0.072 100.369);
  --color-sicilian-yellow-1000: oklch(16% 0.032 100.369);

  --color-latti-50: oklch(97.66% 0.01 84.48);
  --color-latti-100: oklch(92.44% 0.02 81.76);
  --color-latti-200: oklch(88.45% 0.03 77.52);
  --color-latti-300: oklch(80.63% 0.05 74.65);
  --color-latti-400: oklch(71.86% 0.07 68.76);
  --color-latti-500: oklch(65.21% 0.08 62.43);
  --color-latti-600: oklch(59.89% 0.08 54.81);
  --color-latti-700: oklch(52.06% 0.07 49.74);
  --color-latti-800: oklch(45.21% 0.06 44.83);
  --color-latti-900: oklch(39.8% 0.04 46.73);
  --color-latti-1000: oklch(26.15% 0.03 41.44);

  --color-deep-bronze-50: oklch(97.99% 0.02 100.06);
  --color-deep-bronze-100: oklch(95.21% 0.05 102);
  --color-deep-bronze-200: oklch(90.79% 0.09 100.92);
  --color-deep-bronze-300: oklch(85.23% 0.13 99.3);
  --color-deep-bronze-400: oklch(79.42% 0.14 96.38);
  --color-deep-bronze-500: oklch(73.02% 0.14 93.46);
  --color-deep-bronze-600: oklch(62.78% 0.12 87.14);
  --color-deep-bronze-700: oklch(52.05% 0.1 82.29);
  --color-deep-bronze-800: oklch(45.19% 0.08 78.09);
  --color-deep-bronze-900: oklch(40.56% 0.06 75.07);
  --color-deep-bronze-1000: oklch(32.96% 0.06 70.91);

  --color-ashfall-0: oklch(0% 0 0);
  --color-ashfall-50: oklch(98.51% 0 0);
  --color-ashfall-100: oklch(96.7% 0 0);
  --color-ashfall-200: oklch(92.49% 0 0);
  --color-ashfall-300: oklch(86.69% 0 0);
  --color-ashfall-400: oklch(68.3% 0 0);
  --color-ashfall-500: oklch(51.03% 0 0);
  --color-ashfall-600: oklch(44.23% 0 0);
  --color-ashfall-700: oklch(37.15% 0 0);
  --color-ashfall-800: oklch(27.27% 0 0);
  --color-ashfall-900: oklch(21.78% 0 0);
  --color-ashfall-950: oklch(14.96% 0 0);
  --color-ashfall-1000: oklch(0% 0 0);

  --color-pumadoru-50: oklch(97.11% 0.01 22.88);
  --color-pumadoru-100: oklch(93.6% 0.03 22.51);
  --color-pumadoru-200: oklch(88.47% 0.06 22.15);
  --color-pumadoru-300: oklch(80.99% 0.11 23.19);
  --color-pumadoru-400: oklch(72.06% 0.17 25.62);
  --color-pumadoru-500: oklch(65.26% 0.22 28.24);
  --color-pumadoru-600: oklch(59.52% 0.22 29.25);
  --color-pumadoru-700: oklch(53.24% 0.2 29.37);
  --color-pumadoru-800: oklch(45.72% 0.17 29.14);
  --color-pumadoru-900: oklch(40.57% 0.14 28.38);
  --color-pumadoru-950: oklch(33.53% 0.09 28.97);
  --color-pumadoru-1000: oklch(26.45% 0.04 28.97);

  --color-vintage-white-50: oklch(97.61% 0 91.27);
  --color-vintage-white-100: oklch(94.54% 0.01 95.09);
  --color-vintage-white-200: oklch(85.9% 0.03 95.91);
  --color-vintage-white-300: oklch(81.28% 0.04 94.6);
  --color-vintage-white-400: oklch(72.74% 0.05 89.58);
  --color-vintage-white-500: oklch(66.33% 0.06 84.92);
  --color-vintage-white-600: oklch(61.41% 0.05 78.74);
  --color-vintage-white-700: oklch(53.58% 0.04 74.24);
  --color-vintage-white-800: oklch(46.75% 0.03 70.11);
  --color-vintage-white-900: oklch(40.97% 0.03 71.23);
  --color-vintage-white-950: oklch(27% 0.02 67.04);
}
