.acheomatic-color-tokens() {
    --color-achromatic-light-base: 1 0 0;
    --color-achromatic-light-alpha: 1;
    --color-achromatic-dark-base: 0 0 0;
    --color-achromatic-dark-alpha: 1;
    --color-achromatic-base: light-dark( var( --color-achromatic-dark-base ), var( --color-achromatic-light-base )  );
    --color-white: oklch( var( --color-achromatic-light-base ) / var( --color-achromatic-light-alpha ) );
    --color-black: oklch( var( --color-achromatic-dark-base ) / var( --color-achromatic-dark-alpha ) );
    --color-achromatic: light-dark( oklch( var( --color-achromatic-dark-base ) / var( --color-achromatic-dark-alpha ) ), oklch( var( --color-achromatic-light-base ) / var( --color-achromatic-light-alpha ) ) );
    --color-transparency-base: var( --color-achromatic-base );
    --color-transparency-light: var( --color-achromatic-dark-base );
    --color-transparency-light: var( --color-achromatic-light-base );
    
    --color-transparency-light-50: oklch( var( --color-transparency-light-base ) / 0.05 );
    --color-transparency-light-100: oklch( var( --color-transparency-light-base ) / 0.1 );
    --color-transparency-lighta200: oklch( var( --color-transparency-light-base ) / 0.2 );
    --color-transparency-light-300: oklch( var( --color-transparency-light-base ) / 0.3 );
    --color-transparency-light-400: oklch( var( --color-transparency-light-base ) / 0.4 );
    --color-transparency-light-500: oklch( var( --color-transparency-light-base ) / 0.5 );
    --color-transparency-light-600: oklch( var( --color-transparency-light-base ) / 0.6 );
    --color-transparency-light-700: oklch( var( --color-transparency-light-base ) / 0.7 );
    --color-transparency-light-800: oklch( var( --color-transparency-light-base ) / 0.8 );
    --color-transparency-light-900: oklch( var( --color-transparency-light-base ) / 0.9 );
    --color-transparency-light-950: oklch( var( --color-transparency-light-base ) / 0.95 );
    --color-transparency-light-1000: oklch( var( --color-transparency-light-base ) / 1 );
    
    
    --color-transparency-dark-50: oklch( var( --color-transparency-dark-base ) / 0.05 );
    --color-transparency-dark-100: oklch( var( --color-transparency-dark-base ) / 0.1 );
    --color-transparency-darka200: oklch( var( --color-transparency-dark-base ) / 0.2 );
    --color-transparency-dark-300: oklch( var( --color-transparency-dark-base ) / 0.3 );
    --color-transparency-dark-400: oklch( var( --color-transparency-dark-base ) / 0.4 );
    --color-transparency-dark-500: oklch( var( --color-transparency-dark-base ) / 0.5 );
    --color-transparency-dark-600: oklch( var( --color-transparency-dark-base ) / 0.6 );
    --color-transparency-dark-700: oklch( var( --color-transparency-dark-base ) / 0.7 );
    --color-transparency-dark-800: oklch( var( --color-transparency-dark-base ) / 0.8 );
    --color-transparency-dark-900: oklch( var( --color-transparency-dark-base ) / 0.9 );
    --color-transparency-dark-950: oklch( var( --color-transparency-dark-base ) / 0.95 );
    --color-transparency-dark-1000: oklch( var( --color-transparency-dark-base ) / 1 );
    
    
    --color-transparency-50: oklch( var( --color-transparency-base ) / 0.05 );
    --color-transparency-100: oklch( var( --color-transparency-base ) / 0.1 );
    --color-transparency-200: oklch( var( --color-transparency-base ) / 0.2 );
    --color-transparency-300: oklch( var( --color-transparency-base ) / 0.3 );
    --color-transparency-400: oklch( var( --color-transparency-base ) / 0.4 );
    --color-transparency-500: oklch( var( --color-transparency-base ) / 0.5 );
    --color-transparency-600: oklch( var( --color-transparency-base ) / 0.6 );
    --color-transparency-700: oklch( var( --color-transparency-base ) / 0.7 );
    --color-transparency-800: oklch( var( --color-transparency-base ) / 0.8 );
    --color-transparency-900: oklch( var( --color-transparency-base ) / 0.9 );
    --color-transparency-950: oklch( var( --color-transparency-base ) / 0.95 );
    --color-transparency-1000: oklch( var( --color-transparency-base ) / 1 );
}
