.ebsa-icon-tokens() {
  	// Icons
	--color-icon-error: var( --color-red-500 );
	--color-icon-warning: var( --color-yellow-500 );
	--color-icon-success: var( --color-green-500 );
	--color-icon-notice: var( --color-neutral-500 );
	--color-icon-progressive: light-dark( var( --color-primary-700 ), var( --color-primary-500 ) );
}
